#form-body{
    display: flex;
    justify-content: center;
    padding: 3rem;
}

#header-form{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    animation: hover-in 1.5s ease-out forwards;
    border: 0.5px solid black;
    padding: 5rem;
}

.form-tab{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.form-title{
    font-size: 45px;
}

.form-content{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 2.5rem 5rem;
}

.form-input-elem{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form-input-elem label{
    font-size: 1.1rem;
    font-weight: 600;
}

.form-input-elem input{
    color: white;
    background-color: #1a1a1a;
    border: none;
    border-radius: 4px;
    width: 25rem;
    padding: 0.9rem 1.2rem;
    font-weight: 500;
    font-size: 20px;
}

.form-buttons{
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    padding: 0rem 3rem;
}

.ast{
    color: red;
}

#form-ast-notice{
    font-size: 1rem;
    font-style: italic;
    font-weight: 500;
    align-self: center;
}