#header-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    gap: 2rem;
}

.form-tab{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.form-title{
    font-size: 50px;
}

.form-content{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 2.5rem 5rem;
}

.form-input-elem{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.form-input-elem label{
    font-size: 1.1rem;
    font-weight: 600;
}

.form-input-elem input{
    color: white;
    background-color: #1a1a1a;
    border: none;
    border-radius: 4px;
    width: 20rem;
    padding: 1rem 0.5rem;
    font-weight: 500;
    font-size: 20px;
}

.ast{
    color: red;
}

#form-ast-notice{
    font-size: 1rem;
    font-style: italic;
    font-weight: 500;
    padding: 2rem 0;
}