:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body{
  margin: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: flex-start;
  flex-direction: column;
  min-width: 300px;
  min-height: 100dvh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

#root{
  width: 100%;
}

#header{
  box-sizing: border-box;
  position: sticky;
  top:0;
  width: 100%;
  padding: 0px 30px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 0px 15px black;
  background-color: #1a1a1a; /* Body elements appear above header if removed */
}

#header-subtitles{
  display: flex;
  gap: 40px;
  align-items: center;
}

.header-subtitles-button{
  padding: 5px;
  font-size: 20px;
  font-weight: 500;
  border: 3px solid transparent;
  cursor: pointer;
  transition: color ease-in-out 0.25s;
}

.header-subtitles-button:hover{
  color: #646cff;
}

#body{
  box-sizing: border-box;
  width: 100%;
  padding: 50px;
}

.resumes{
  display: grid;
  grid-template-columns: repeat(5, 200px);
  gap: 50px;
  place-items: center;
  justify-content: center;
}

.resume-card{
  background-color: #1a1a1a;
  width: 200px;
  height: 250px;
  border-radius: 2px;
}

.resume-image{
  box-sizing: border-box;
  height: 70%;
  border: 1px solid black;
}

.resume-content{
  box-sizing: border-box;
  height: 30%;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 5px 0px 0px 10px;
}

.resume-title{
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.resume-title-text{
  font-size: 13px;
  font-weight: 700;
}

.resume-settings-button{
  justify-self: end;
  margin: 0;
  margin-right: 5px;
  padding: 5px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resume-settings-button:hover{
  background-color: rgba(255, 255, 255, 0.1);
}

.resume-desc{
  font-size: 11px;
  display: flex;
  padding: 5px 0px;
  gap: 50px;
}

.resume-card.empty{
  box-sizing: border-box;
  background-color: transparent;
  border: 3px dashed rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-weight: 500;
  font-size: 20px;
}

#footer{
  background-color: #1a1a1a;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 0px;
}

#social-icons{
  display: flex;
  gap: 30px
}